{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Belarus aDNA project</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'samples/samples.css' %}">
</head>
<body>
	<div class="page-header">
		<h2>Human ancient DNA study from Belarus territory</h2>
	</div>


	<div class="project-title">
		<h3>Project overview</h3>
	</div>

	<p>Human ancient DNA provides a direct source to study the genetic diversity of people who lived at a
		certain time period in the past. In our project, we focus on dynamics of
		human population structure in Eastern Europe during the last four thousand years.
		Due to various reasons (geological peculiarities of the region; archaeological works)
		available osteological material from the Belarus territory is rather scarce:
		the oldest available so far samples are dated to Bronze Age followed
		by samples from Medieval period (11-13 cc AD) – a time right after a long
		lasting cremation practice on the Belarus territory.</p>

	<div class="sample-info">
		<h3>Information about samples:</h3>
		<h4><a href="/samplelist">Sample list is here</a></h4>
	</div>

	<div class="link-to-the-map">
		<h3>Go to Map to get samples' geographic location: </h3>
		<h4> <a href="/map">Map</a></h4>
	</div>

	<div class="feedback">
		<h4>Send your questions/comments to lkushniarevich@gmail.com</h4>
	</div>


</body>
</html>

