{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Belarus aDNA project</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'samples/samples.css' %}">
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
<div class="page-header">
		<h2>Human ancient DNA study from Belarus territory</h2>
	<img src="{% static "samples/pic_for_title.jpg" %}" alt="Title image" width="900" height="100">
	</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
 		<span class="navbar-toggler-icon"></span>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home</a>
      <a class="nav-item nav-link" href="/samplelist">Samples</a>
      <a class="nav-item nav-link" href="/map">Map<span class="sr-only">(current)</span></a>
<!--      <a class="nav-item nav-link" href="#">Contact</a>-->
    </div>
  </div>
</nav>

 <div id='map' width="100%" style='height:600px'></div>
   <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoibGVuYWt1c2giLCJhIjoiY2s4aHdjY3pyMDQ1dzNsbWNucWQ0Znh0eCJ9.4CrzJDbd-sbqv2vAHtb93w';
    var map = new mapboxgl.Map({
     container: 'map',
     style: 'mapbox://styles/mapbox/streets-v10',
     center: [27.6, 53.9],
     zoom: 5
    });

    // add a full screen extension button
    map.addControl(new mapboxgl.FullscreenControl());

    map.on('load', function() {
        map.addSource('places', {
            'type': 'geojson',
            'data': {
            'type': 'FeatureCollection',
            'features': [
                    {% for object in objects %}
                        {
                        // feature for sampleid
                        'type': 'Feature',
                        'geometry': {
                        'type': 'Point',
                        'coordinates': [ {{ object.long}}, {{object.lat }} ]
                        },
              'properties': {
                'description':
                    '<strong>{{ object.sampleid }}</strong><p>{{ object.geopoint }}: {{ object.archsite }}; {{ object.archculture }}: {{ object.archdate }}. For more details <a href="/detail/{{ object.sampleid }}" target="_blank" title="Opens in a new window">click here.</a></p>',
                'title': '{{ object.sampleid }}',
                'icon': 'circle',
                'icon-color': '#3bb2d0'
               }
             },
     {% endfor %}
            ]
          }
});

map.addLayer({
'id': 'places',
'type': 'symbol',
'source': 'places',
'layout': {
// get the icon name from the source's "icon" property
'icon-image': '{icon}-15',
'icon-allow-overlap': true,
// get the title name from the source's "title" property
'text-field': ['get', 'title'],
'text-font': ['Open Sans Semibold', 'Arial Unicode MS Bold'],
'text-offset': [0, 0.6],
'text-anchor': 'top'
}
});

// Create a popup, but don't add it to the map yet.
var popup = new mapboxgl.Popup({
closeButton: true,
closeOnClick: false
});

map.on('click', 'places', function(e) {
// Change the cursor style as a UI indicator.
map.on('mouseenter', 'places', function() {
map.getCanvas().style.cursor = 'pointer';
});

// Change it back to a pointer when it leaves.
map.on('mouseleave', 'places', function() {
map.getCanvas().style.cursor = '';
});

var coordinates = e.features[0].geometry.coordinates.slice();
var description = e.features[0].properties.description;

// Ensure that if the map is zoomed out such that multiple
// copies of the feature are visible, the popup appears
// over the copy being pointed to.
while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
}

// Populate the popup and set its coordinates
// based on the feature found.
popup
.setLngLat(coordinates)
.setHTML(description)
.addTo(map);
});


});
   </script>
</body>
</html>

