{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Belarus aDNA project</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'samples/samples.css' %}">
</head>
<body>
<div class="page-header">
		<h2>Human ancient DNA study from Belarus territory</h2>
	<img src="{% static "samples/pic_for_title.jpg" %}" alt="Title image" width="900" height="100">
	</div>


	<div>
		<h3>Relief map of Belarus</h3>
	</div>
		<p><img src={% static "/samples/Relief_Map_of_Belarus.png"%} alt="IMG" width="500" height="333">
</p>


</body>
</html>

